header{
    background-color: #2A3166;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

header h1{
    color:#EE7879;
    font-size: 30px;
    font-family: 'Source Code Pro', monospace;
    margin-top: 0px;
    margin-bottom: 0px;
}

.topnav {
    overflow: hidden;
    background-color:#CAE7DF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    position: sticky;
    top: 0px;
}

@media (min-width : 1194px){
    .topnav a{
        width: 100px;
    }
}

@media (max-width : 1353px) and (min-width : 1193px){
    .topnav a{
        width: 200px;
    }
}

@media (max-width : 1192px) and (min-width : 825px){
    .topnav a{
        width: 355px;
    }
}

@media (max-width : 824px){
    .topnav a{
        width: 232px;
    }
}

.topnav a {
    flex-grow: 1;
    color: #2A3166;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    font-size: 15px;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
}

.topnav a:hover {
    background-color:#F4ABAA;
    color: #2A3166;
}

.topnav a.active {
    background-color:#F4ABAA;
    color: #2A3166;
}

section h3{
    font-family: 'Source Code Pro', monospace;

    color: #EE7879;
    background-color: #F4ABAA;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}

section p{
    margin-top: 0px;
    margin-bottom: 0px;

    color: #2A3166;
    background-color: #EE7879;
    font-size: 15px;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    line-height: 30px;
    padding: 80px;
}